#menu{
    border: solid 2px;
    height: 150px;
    text-align: center;
    background-color: rgb(51, 45, 75);
}
nav{
    margin-top: 20px;
}
a{
    margin: 10px;
}
#form{
    border: solid 2px;
    position: relative;
    width: 710px;
    margin: auto;
    margin-top: 50px;
}
form{
    width: 650px;
    padding: 20px;
}
input{
    size: 80px;
}

